@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

html {
  font-size: 16px;
}

body {
  font-family: sans-serif, "Roboto";
  font-weight: normal;
  background-color: var.$background-color-base;
  margin-top: 131.64px;

  @include mix.mobile-l-styles {
    margin-top: 101.64px;
  }
}

.btn {
  background-color: var.$background-color-btn;
  color: var.$text-color-primary;
  border: none;
  border-radius: var.$gutter-base * 0.2;
  padding: var.$gutter-base * 0.4 var.$gutter-base * 0.7;
  font-weight: var.$font-weight-bold;
  box-shadow: 3px 3px 2px 0px #4a4444bf;
  &:hover {
    background-color: var.$background-color-tertiary;
    transition: 0.4s;
    cursor: pointer;
  }
}

.btn-custom {
  background-color: var.$background-color-btn;
  color: var.$text-color-primary;
  border: none;
  border-radius: var.$gutter-base * 0.2;
  padding: var.$gutter-base * 0.4 var.$gutter-base * 0.7;
  font-weight: var.$font-weight-bold;
  &:hover {
    background-color: var.$background-color-secondary;
    transition: 0.4s;
    cursor: pointer;
  }
}
